# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Sudoku.opensdf

Debug/Sudoku.exe
Sudoku/Debug/
Sudoku/Sudoku.vcxproj
Sudoku/Sudoku.vcxproj.filters
Sudoku.opensdf
Sudoku.sdf
Sudoku.sln
Sudoku.v11.suo
Debug/
*.ipch
Sudoku/ReadMe.txt
*.fml

